body
{
    background-color: black;
    color:white;
    font-family: monospace;
}
.box
{
    margin: 5px;
    padding: 5px;
    border-color: white;
    border-width: 20px;
    height: 210px;
    width: 90%;
    background-color: white;
    color: black;
    justify-content: center;
    margin-left: 5%;
}

.iconify
{
    height:60px;
    width:60px;
}
.iconify:hover
{
    height:70px;
    width:70px;
}
.b
{
    float: left;
    margin:20px;
    padding:30px;
    box-shadow: black;
    border-color: black;
    border-width: 20px;
    margin-top: 5px;

}
.b1
{
    margin-left: 40%;
}
.score
{
    width:90%;
    height:200px;
    background-color: whitesmoke;
    color: black;
}
.comp_response
{
    
    height: 100px;
    width:100px;
}
#endgame
{
    font-size: 15px;
}
#playagain
{
    font-size: 25px;
}



@media screen and (max-width: 600px) {
    .b1 {
      margin-left:12%;
    }
  }